<%- include('../partials/head.ejs', { title: 'My Groups' }) %>

<div class="row pb-5">
  <h1><%= adminPage ? 'Group management' : 'Groups' %></h1>
  <% if (groupNumber > 0) { %>
  <p class="my-3 groupTitle">Group<%= groupNumber === 1 ? 's' : '' %> ( <%= groupNumber %> )</p>
  <div class="list-group mb-3">

    <% let cnt=1 %>
    <div class="legend">
        <div class="left">
        <span class="label">Validated: </span>
        <span class="alert-success">Yes <i class="fas fa-check"></i></span>
        <span class="alert-danger">No <i class="fas fa-check"></i></span>
        </div>
         <div class="right">
        <span class="label">Public: </span>
        <span class="alert-success">Yes <i class="fa-sharp fa-solid fa-eye"></i></span>
        <span class="alert-danger">No <i class="fa-sharp fa-solid fa-eye-slash"></i></span>
        </div>
    </div>


    <div class="css-grid-table">

<div class="css-grid-table-header">
<div>Name</div>
<div class="d-none d-sm-block">Created</div>
<div class="d-none d-sm-block">Created by</div>
<div>Actions</div>
</div>
    <% groupItems.forEach( el=> { %>
    <details>
      <summary class="css-grid-table-body">
        <div>
          <i class="fa-sharp fa-solid fa-eye <%= el.isPublic ? 'alert-success' : 'alert-danger' %>"></i>
          <i class="fa-sharp fa-solid fa-check <%= el.isValidated ? 'alert-success' : 'alert-danger' %>"></i>

          <%= el.name %></div> <div class="d-none d-sm-block">
        <!-- change the date formatting to whatever you want -->
        <%= el.createdAt.toLocaleDateString('en-US', {'month': 'short' , 'day'
                                            : 'numeric' , 'year' : 'numeric' } ) %>
        </div>
        <div class="d-none d-sm-block"><%= el.groupAdmin[0].username %></div>

        <div>
         <% if (isAdmin || el.groupAdmin[0].email === currentUser.email) { %>
           <a href="/groups/editGroup/<%= el._id %>" title="Edit <%= el.name %>"><i class="fas fa-edit"></i></a>

            <!-- You were trying to use pro icons, they didn't work -->
            <i class="fas fa-trash"></i>
         <% } else { %>
         <i class="fas fa-edit d-none"></i></a>
         <% }  %>
<i class="fa-thin fa-down-to-line"></i>

        </div>
      </summary>
      <%= el.description %>
    </details>
    <% }) %>
</div>
  </div>
  <% } else { %>
  <p>You have joined 0 groups. <a href="/group/createGroup" title="Create a group">Create a group</a></p>
  <% } %>

</div>

<script>
  const icoEdit = document.querySelectorAll('.fa-edit');

  icoEdit.forEach((el) => {
      el.stopPropagation();
  })


</script>
<%- include('../partials/footer.ejs') %>
