
  
  
  <p>
    <%= user.userName %> <a href="/logout">Logout</a>
  </p>


  <div class="container">
    <div class="budget">
      <h1>Budget</h1>
      <ul>
        <% budget.forEach( el=> { %>
          <li class='todoItem' data-id='<%=el._id%>'>
            <p>Remaining: <%= (el.remainingAmount / 100).toFixed(2) %>
            </p>
            <p>Initial: <%= (el.initialAmount / 100).toFixed(2) %>
            </p>
            <span class='delBudget'> <i class="fa fa-trash"></i> </span>
          </li>
          <% }) %>
      </ul>

      <form action="/budget/create" method='POST'>
        <label>Amount<input type="number" step="0.01" placeholder="Enter budget" name='initialAmount'></label>
        <input type="submit">
      </form>
    </div>

    <div class="expenses">
      <h1>Expenses</h1>
      <ul>
        <% expenses.forEach( el=> { %>
          <li class='todoItem' data-id='<%=el._id%>'>
            <p>
              <%= (el.amount / 100).toFixed(2) %>
            </p>
            <span class='delExpense'> <i class="fa fa-trash"></i> </span>
          </li>
          <% }) %>
      </ul>

      <form action="/expenses/create" method='POST'>
        <label>Amount<input type="number" step="0.01" placeholder="Amount" name='amount'></label>
        <input type="submit">
      </form>
    </div>
  </div>
