<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1>Budget</h1>
  <ul>
    <% budget.forEach( el=> { %>
      <li class='todoItem' data-id='<%=el._id%>'>
        <p>
          <%= (el.amount / 100).toFixed(2) %>
            <%= el.currency %>
        </p>
        <p>
          Period: <%= el.startDate.toDateString() %> - <%= el.endDate.toDateString() %>
        </p>
        <span class='del'> Delete </span>
      </li>
      <% }) %>
  </ul>

  <h2>
    <%= user.userName %>
  </h2>

  <form action="/budget/create" method='POST'>
    <input type="number" placeholder="Enter budget" name='amount'>
    <input type="text" placeholder="Currency" name='currenty'>
    <input type="date" placeholder="startDate" name='startDate'>
    <input type="date" placeholder="endDate" name='endDate'>
    <input type="submit">
  </form>

  <a href="/logout">Logout</a>

  <script src="js/main.js"></script>
</body>

</html>