<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Cards</h1>

    <form action="/cards/createCard" method='POST'>
        <input type="text" placeholder="Enter Card Name" name='cardName'>
        <input type="submit" value="Create Card">
    </form>
    <main>

    <% cards.forEach( aCard => { %>
        <div class='cardItem' data-id='<%=aCard._id%>'>
            <h2><%= aCard.cardName %></h2>
            <ul>
                <% todos.filter(tod => tod.card == aCard._id).forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <button class='del'> Delete </button>
                    </li>
                <% }) %>
            </ul>
            <h3><%= user.userName %> has <%= left.filter(one => one.card == aCard._id).length %> things left to do.</h3>
            <form action="cards/todos/createTodo" method='POST'>
                <input type="text" name="card" value="<%= aCard._id %>" readonly="readonly" style='display:none;'/>
                <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                <input type="submit" value="Add Task">
            </form>
        </div>
    <% }) %> 
    </main>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>