<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/head') %>
</head>

<!-- Header / Navbar -->
<header class="navbar-space">
<%- include('partials/header') %>
</header>

<body class="">
  <!-- Cut>Format>Paste the ul to format with prettier -->
  <!-- TODO: look into EJS formatting -->

  <!-- button to add a company -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="companies/add" class="btn btn-primary">Add Company</a>
      </div>
    </div>

    <!-- list of companies in card format -->
    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <% companies.forEach(company => { %>
          <li class="list-group-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= company.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= company.address %></h6>
                <p class="card-text"><%= company.description %></p>
                <a href="/companies/<%= company._id %>" class="card-link">View</a>
                <a href="/companies/edit/<%= company._id %>" class="card-link">Edit</a>
                <a href="/companies/delete/<%= company._id %>" class="card-link">Delete</a>
              </div>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
  </div>



  <hr>
  <!-- LogOut Button -->
  <a href="/logout" class="btn btn-lg btn-danger btn-block m-2 d-flex justify-content-center w-25 mx-auto"
    role="button">Logout</a>

  <script src="js/main.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>