<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cent Sense</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">Cent Sense</a></h1>
								<span>Where every penny counts</span>
							</div>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Welcome</a></li>
								<li><a href="/logout">Log Out</a></li>
								<li><a href="/entries">Expenses</a></li>
                                <li><a href="/budgets">Budgets</a></li>                             
							</ul>
						</nav>
					</header>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<!-- Content -->
								<article>

									<h2>COMPARE UNDER CONSTRUCTION</h2>

									<ul>
										<% entries.forEach( el => { %>
												<li class='entryItem' data-id='<%=el._id%>'>
													<span><%= el.description %></span>
													<span><%= el.company %></span>
													<span><%= el.amount %></span>
												  <span><%= el.category %></span>
									
													
													
													<!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.company %></span> -->
													
													
													<span class='del'> Delete </span>
												</li>
										<% }) %>    
										</ul>
									
										<h3><%= user.userName %> has <%= total %> entries.</h3>
									
										<form action="/entries/createEntry" method='POST'>
											<input type="date" name="date">
									
											<input type="radio" id="exp" name="expense" value="true">
												<label for="exp">Expense</label>
											<input type="radio" id="inc" name="expense" value="false">
												<label for="inc">Income</label>
											
												<label for="amount">Amount</label>
											<input type="text" placeholder="0.00" name="amount">
											
											<label for="description">Item Purchased</label>
											<input type="text" placeholder="item purchased" name="description">
											   
									
											<input type="text" placeholder="company" name="company">
											
											<input type="text" placeholder="category" name="category">
									
											<input type="submit">
										</form>
									
										<a href="/logout">Logout</a>
									
										<script src="js/main.js"></script>

								</article>

						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Cent Sense. All rights reserved</li><li>Design: 173 Beans & <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>