<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>App Name</h1>
    <form>
      <input id="date" type="date" />
      <select id="mealType">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="snack">Snack</option>
      </select>
      <input id="foodItems" type="text" />
      <input id="create" type="submit" />
    </form>

    <section>
      <% dates.forEach(date => { %>
      <div class="entry" data-date="<%=date.date%>" data-date="<%=date._id%>">
        <h2><%=date.date%></h2>
        <section>
          <h3>Breakfast</h3>
          <p><%= date.breakfast ? date.breakfast : 'No breakfast' %></p>
        </section>
        <section>
          <h3>Lunch</h3>
          <p><%= date.lunch? date.lunch : 'No lunch' %></p>
        </section>
        <section>
          <h3>Dinner</h3>
          <p><%= date.dinner ? date.dinner : 'No dinner' %></p>
        </section>
        <span class="del">Trash Can</span>
      </div>
      <% }) %>

      <!-- Hello World -->
      <!-- Dates will render here - each date needs a data-id attribute for delete to work -->
    </section>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
  </body>
</html>
