<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <span class='hitListItem' data-id=' '></span>

    <h1>HitList</h1>
    <a href = '/hitlist/edit/:_id'><i class="fa-solid fa-pen-to-square"></i></a>
        <% items.forEach( el=> { %>
        <table>
            <tbody>
        <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Date added to spreadsheet</th>
            <th>URL</th>	
        </tr>
        <tr>
            <td><%= el.name %></td>
            <td><%= el.company %></td>
            <td><%= el.createdAt %></td>
            <td><%= el.url %></td>
        </tr>
    </tbody>
        <tr>
            <th>Role / Position (URL)</th>
            <th>Type of position</th>
            <th>Email</th>
            <th>Date coffee chat</th>		
        </tr>
        <tr>
            <td><%= el.position %></td>
            <td><%= el.typeOfPosition %></td>
            <td><%= el.email %></td>
            <td><%= el.dateOfCoffeeChat %></td>
        </tr>
        <tr>
            <th>Applied?</th>
            <th>Date application sent</th>	
            <th>Interview date</th>
            <th>Coffee chat?</th>
        </tr>
        <tr>
            <td><%= el.applied %></td>
            <td><%= el.dateAppSent %></td>
            <td><%= el.interviewDate %></td>
            <td><%= el.coffeeChat %></td>
        </tr>
        <tr>
            <th>Thank you</th>	
            <th>Follow up</th>
            <th>Comments / Notes</th>
        </tr>
        <tr>
            <td><%= el.thankYou %></td>
            <td><%= el.followUp %></td>
            <td><%= el.comments %></td>
        </tr>
    </tbody>
</table>
        <% }) %>
   

    <h2>
        <%= user.userName %> has
    </h2>

    <!-- <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
</body>

</html>