<!DOCTYPE html>
<html lang="en">
    <%-include ('partials/head') %>
<body>
    <%-include ('partials/header') %>
    <a href="/blogPost"><i id='backButton' class="fa fa-arrow-left"></i></a>

    <ul>
                <li class='postItem' data-id='<%=blogPost._id%>'>
                    <div class='title'> <h4><%= blogPost.title %></h4>  </div> 
                    <div class='body'> <%= blogPost.body %>  </div>
                    <div class='gitHub'><i class="<% if(blogPost.gitHub) { %>fa-brands fa-github <% } %>"></i> <a href="<% if(blogPost.gitHub) { %> <%= blogPost.gitHub %> <% } %>"><%= blogPost.gitHub %></a>  </div>
                    <div class='date'> Posted on <%= new Date(blogPost.date).toLocaleString('en-us') %>  </div>
                    <div class='dueDate'><% if(blogPost.dueDate) { %> Due <%= blogPost.dueDate %> <% } %></div>
                    <div class="mood">Mood: <%= blogPost.mood %> </div>
                    <div id="actionsContainer">
                        <form action="/blogPost/edit/<%= blogPost._id %>" action="GET">
                            <input type="submit" class="editButton button-18" value="Edit">
                        </form>
                            <button onclick="deletePost" class="button-18 del" id="del">Delete</button>
                    </div>
                </li>
        </ul>

        <script src="/js/main.js"></script>    
</body>
</html>