<!DOCTYPE html>
<html lang="en">
<%-include ('partials/head') %>
<%- include ('partials/header') %>
<body>
    <a href="/blogPost"><i id='backButton' class="fa fa-arrow-left"></i></a>
    <section>
    <h1>Edit Post</h1>
    
    <form action="/blogPost/edit/<%=postId%>" method="POST">
        <div id="mainInput">
            <label for="title">Title</label><input class="postInput" id="title" name="title" placeholder=""
            value="<%=blogPost.title%>">
            <h3 id="date">
                <%= new Date(blogPost.date).toLocaleString('en-us') %></h3>
            <input type="hidden" name="date" value="<%=blogPost.date %>">
            <label for="area">Your Thoughts:</label><textarea id="postBody" class="postInput" name="postBody" rows="20" cols="50" placeholder="  Write your daily dev journey here!"
            ><%=blogPost.body %></textarea>
        </div>
        <div>
            <label for="gitHub">GitHub Link</label><input id="gitHub" class="postInput" name="gitHub" placeholder="GitHub Link"
            value="<%=blogPost.gitHub%>">
            <label for="dueDate">Due Date</label><input id="dueDate" class="postInput" name="dueDate" placeholder="Due Date"
            value="<%=blogPost.dueDate%>">
            <label for="mood">Mood: </label><select id="mood" name="mood">
                <%
                var options = [ "Great ðŸ’ª", "Good â˜ºï¸", "Spicy ðŸ¤¬"];
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( blogPost.mood == options[i] ) ? "selected" : "";
                %>
                <option value="<%=options[i] %>" <%=selected %>><%= options[i] %></option>
                    
                <% } %>
                </select>
        <div id="buttons">
        <input type="button" id="clear" class="button-18" value="Clear">
        <input type="submit" class="button-18" value="Post">
        </div>
    </form>
    </section>

    <script src="/js/clear.js"></script>
    <script src="/js/main.js"></script>
</body>