<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Entries</h1>
    <ul>
    <% entries.forEach( el => { %>
            <li class='entryItem' data-id='<%=el._id%>'>
                <span><%= el.description %></span>
                <span><%= el.company %></span>
                <span><%= el.amount %></span>
              <span><%= el.category %></span>

                
                
                <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.company %></span> -->
                
                
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= total %> expenses.</h2>

    <form action="/entries/createEntry" method='POST'>
        <input type="date" name="date">

        <input type="radio" id="exp" name="expense" value="true">
            <label for="exp">Expense</label>
        <input type="radio" id="inc" name="expense" value="false">
            <label for="inc">Income</label>
        
            <label for="amount">Amount</label>
        <input type="text" placeholder="0.00" name="amount">
        
        <label for="description">Item Purchased</label>
        <input type="text" placeholder="item purchased" name="description">
           

        <input type="text" placeholder="company" name="company">
        
        <input type="text" placeholder="category" name="category">

        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>