<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevDays</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include ('partials/header') %>
    <h1>Journal</h1>
    <a id='newPost' href="/blogPost/createBlogPost"><i class="fa-solid fa-circle-plus"></i> Create New Post</a>

    <ul>
    <h2>You have logged <%= left %> journal entries.</h2>
    <% BlogPost.forEach( items => { %>
            <li class='postItem' data-id='<%=items._id%>'>
                <div class='title'> <h4><%= items.title %></h4>  </div> 
                <div class='body'> <%= items.body %>  </div>
                <div class='gitHub'><i class="<% if(items.gitHub) { %>fa-brands fa-github <% } %>"></i> <a href="<% if(items.gitHub) { %> <%= items.gitHub %> <% } %>"><%= items.gitHub %></a>  </div>
                <div class='date'> Posted on <%= new Date(items.date).toLocaleString('en-us') %>  </div>
                <div class='dueDate'><% if(items.dueDate) { %> Due <%= items.dueDate %> <% } %></div>
                <div class="mood">Mood: <%= items.mood %> </div>
                <div id="actionsContainer">
                    <form action="/blogPost/edit/<%= items._id %>" action="GET">
                        <input type="submit" class="editButton button-18" value="Edit">
                    </form>
                        <button onclick="deletePost" class="button-18 del" id="del">Delete</button>
                </div>
            </li>
    <% }) %>    
    </ul>

    <script src="/js/main.js"></script>
</body>
</html>