<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SQUAKER</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/output.css" />
	</head>
	<body>
		<h1 class="text-3xl font-bold underline">SQUAWKER</h1>
		<!-- <ul>
    <% messages.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <h3>
                    <%= user.userName %>
                    <button>Reply</button>
                </h3>
                <span <%= el.message %></span>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul> -->

		<!-- I add this section to test the buttons like, dislike, delete -->
		<% messages.forEach( el => { %>
		<div class="flex justify-center space-x-4 bg-white shadow-md">
			<ul>
				<li data-id="<%=el._id%>">
					<span>Comment: <%= el.message %></span>
				</li>
				<li data-id="<%=el._id%>">
					<span>Your comment has <%= el.likes %> likes</span>
				</li>
				<li data-id="<%=el._id%>">
					<span class="like" style="border: solid green">Like</span>
					<span class="dislike" style="border: solid red">Dislike</span>
					<span class="del" style="border: solid rgb(0, 106, 255)">Delete</span>
				</li>
			</ul>
		</div>
		<br />
		<% }) %>
		<!-- I add the above section to test the buttons like, dislike, delete-->

		<!-- <h2><%= user.userName %> has things left to do.</h2> -->

		<div class="bg-white inline h-32 w-full max-w-xs">
			<form
				class="flex justify-center space-x-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-0 mx-auto w-3/4"
				action="/messages/createMessage"
				method="POST"
			>
				<span><%= user.userName %></span>
				<input
					type="text"
					placeholder="Squawk here... "
					name="message"
					class="border border-slate-300 bg-white pb-20 py-2 px-4 rounded w-3/4 h-32"
				/>
				<input
					type="submit"
					value="SEND"
					class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline max-h-12"
				/>
			</form>
		</div>

		<a href="/logout">Logout</a>

		<script src="js/main.js"></script>
	</body>
</html>
