<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>RockWish Wishlist</title>
  </head>
  <body>

    <!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-bold text-xl">GearWish</span>
      </div>
    
      <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          <a href="/dashboard" class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
            Dashboard
          </a>
          <a href="/dashboard/privateWishlist"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
            Private wishList
          </a>
          <a href="/dashboard/publicWishlist" class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white">
            Public Wishlist
          </a>
        </div>
        <div>
          <a href="/logout"
            class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0">LogOut</a>
        </div>
      </div>
    </nav>
    
    <h1>Public Wishlists</h1>

    <ul>
    
      <% gears.forEach( el => { %>
      <li class="gearItem" data-id="<%=el._id%>">
        <% %>
        <span><%= el.gearName %></span>
        <span><%= el.gearBrand %></span>
        <span><%= el.gearPrice %></span>
        <span><%= el.gearCondition %></span>
        <span><%= el.dateAdded %></span>
        <!-- <span><%= el.visibility %></span> Users need to see? -->
      </li>
      <% }) %>
      
    </ul>
  </body>
</html>

<!-- 
gearName
gearBrand
gearPrice
gearCondition
gearNote
dateAdded
visibility // public/private
userId -->
