<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>RockWish Wishlist</title>
  </head>
  <body>

    <!-- NAVBAR COMPONENT -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-bold text-xl">GearWish</span>
      </div>
    
      <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          <a href="/dashboard" class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
            Dashboard
          </a>
          <a href="/dashboard/privateWishlist"
            class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
            Private wishList
          </a>
          <a href="/dashboard/publicWishlist" class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white">
            Public Wishlist
          </a>
        </div>
        <div>
          <a href="/logout"
            class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0">LogOut</a>
        </div>
      </div>
    </nav>
    
    <h1 class="text-center mt-4">Public Wishlists</h1>

    <div class="container mt-5 mx-auto px-2">
      <div class="lg:grid grid-cols-2 md:flex"">
            <% gears.forEach( el=> { %>
              <div class=" flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
        <div class="lg:flex h-full">
          <div class="lg:flex-shrink-0">
            <img class="object-contain items-center rounded-lg lg:w-48" src="<%= el.gearImage %>" alt="" />
          </div>
          <div class="lg:flex-shrink-1 mx-auto px-1 h-auto">
            <p>
              <%= el.gearName %>
            </p>
            <p>
              <%= el.gearBrand %>
            </p>
            <p>
              <%= el.gearPrice %>
            </p>
          </div>
          <div class="mt-4 lg:mt-0 lg:ml-6 ">
            <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold px-1">
            </div>
            <p>
              <%= el.gearNote %>
            </p>
            <p>
              <%= el.gearCondition %>
            </p>
          </div>
        </div>
      </div>
      <!-- <span><%= el.visibility %></span>     User need to see? -->
    
      <% }) %>
    </div>
    </div>
  </body>
</html>
