<link rel="stylesheet" href="/css/flipcard.css">
<body>
    <h1>Banki Questions</h1>
    <a href="/questions/editBanki">Edit banki here :) (in progress)</a>
    <ul>
    <% questions.forEach( el => { %>
            <li class='questionItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.Question %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <div class="artboard">
        <div class="card">
       
         <div class="card__side card__side--back">
        
          <div class="card__details">
            <%= questions[0].Answer %>
            </div>
         </div>
       
         <div class="card__side card__side--front">
          <div class="card__theme">
           <div class="card__theme-box">
            <p class="card__subject">
                <%= questions[0].Question %>
            </p>
           </div>
          </div>
         </div>
       
        </div>
       </div>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <!-- This form post is failing because thhere need to be fields where the name matches the fields we have in the question model -->
    <form action="/questions/createquestion" method='POST'>
        <input type="text" placeholder="Enter New Question" name='questionItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
