<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <div class="wrapper">  
        <section class="resultSection" data-position="shows">
            <h2>Results</h2>

            <ul class="results">
                <li class="results list-header">
                    <span>Name</span>
                    <span>Genres</span>
                    <span>Summary</span>
                </li>
                <% for(var i = 0; i < data.length; i++) {%>
                <li class="results" data-id='<%=data[i].show.id%>'>

                        

                    <span><img src="<%= data[i].show.image.medium %>" alt=""></span>
                    <span><%= data[i].show.name %></a></span>
                    <span class="genres"><%= data[i].show.genres[0] %>, <%= data[i].show.genres[1] %></span> 
                    <form action="/todos/addToWatchList" method="post">
                        <input name="showId" value="<%=data[i].show.id%>" type="text">
                        <input type="submit" value="Add to list">
                    </form>
                    
                </li>
                <% } %>
            </ul>
        </section>
    </div>
</body>
</html>