<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>sendfeedback</h1>
    <p>TODO: Map out data with better CSS / Formatting</p>
    <a href="/">Go Home</a>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Delete Button</th>
      </tr>
      <% sendfeedbackArr.forEach(el => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.email %></td>
        <td><%= el.message %></td>
        <td data-id="<%=el.userId%>">
          <span class="del"> Delete <%=el.userId%></span>
        </td>
      </tr>

      <% }) %>
    </table>

    <!-- Scripts -->
    <script src="js/sendfeedback.js"></script>
  </body>
</html>
