<%- include('partials/head.ejs', {title:"Sign Up"}) %>



<section class="vh-100 signup">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

              <form class="mx-1 mx-md-4" action="/signup" method="POST">
                <%- include('partials/forms/error.ejs') %>


                <%- include('partials/forms/inputWithIcons.ejs', {name: 'username' , type: 'text' ,
                          label:"Username", faIcon: 'fas fa-user' , placeholder: 'Enter your name' ,
                          parentClass: 'mb-4' }) %>

                <%- include('partials/forms/inputWithIcons.ejs', {name: 'email' , type: 'email' ,
                          label:"Email", faIcon: 'fas fa-envelope' , placeholder: 'Enter your email' ,
                          parentClass: 'mb-4' }) %>



                <%- include('partials/forms/inputWithIcons.ejs', {name: 'password' , type: 'password' ,
                          label:"Password", faIcon: 'fas fa-lock' , placeholder: 'Enter your password' ,
                          parentClass: 'mb-1' }) %>

                <div class="d-flex flex-row align-items-center mb-4 charlong">
                  <i class="fas fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    Password is at least 8 characters long.
                  </div>
                </div>

                <%- include('partials/forms/inputWithIcons.ejs', {name: 'confirmPassword' , type: 'password' ,
                            label:"Repeat your Password", faIcon: 'fas fa-key' , placeholder: 'Confirm Password' ,
                            parentClass: 'mb-4' }) %>


                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="termsO" name="terms" />
                  <label class="form-check-label" for="termsO">
                    I agree to all statements in the <a href="/terms" target="_blank">Terms of service</a>
                  </label>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <a href="/login" title="login">Login</a>
                </div>


              </form>

            </div>
            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  // IIFE
  (() => {

    const form = document.querySelector('form');

    function sendJsonForm(data, method = 'POST', url, type = "application/json") {
      const requestOptions = {
        method: method.toUpperCase(),
        headers: {
          "Content-Type": type
        },
        body: data,
      };

      fetch(url, requestOptions)
    }

    form.addEventListener('submit', (event) => {

      // Dont send the form
      event.preventDefault();

      const username = document.querySelector('input[name="username"]').value;
      const email = document.querySelector('input[name="email"]').value;
      const password = document.querySelector('input[name="password"]').value;
      const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
      const terms = document.querySelector('input[name=terms]:checked');
      const btnSubmit = document.querySelector('button[type=submit]');

      btnSubmit.disabled = true;
      // check for terms 1st;
      if (terms === null) {
        showInformation('alert-danger',
          'You must accept our terms of Service and conditions to proceed to registration.',
          btnSubmit)
        return false;
      }

      // Check if a field is empty
      if (validator.isEmpty(username) || validator.isEmpty(email) ||
        validator.isEmpty(password) || validator.isEmpty(confirmPassword)) {
        showInformation('alert-danger', 'All fields are required', btnSubmit)
        return false;
      }

      // Validate the email address
      if (!validator.isEmail(email)) {
        showInformation('alert-danger', 'Please enter a valid email address.', btnSubmit)
        return false;
      }

      // minimum length for password
      if (!validator.isLength(password, {
          min: 8
        })) {
        showInformation('alert-danger', 'Password must be at least 8 characters long', btnSubmit)
        return false;
      }

      // password and confirmPassword must be the same
      if (password !== confirmPassword) {
        showInformation('alert-danger', 'Passwords do not match', btnSubmit)
        return false;
      }

      // if no problem, submit the form
      form.submit();


    }) // end of form.onSubmit


  })()
</script>


<%- include('partials/footer.ejs') %>
