<%- include('partials/head.ejs', {title:"Todos"}) %>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='priority'> <i class="fa-solid fa-flag"></i> </span>
                <span class='del'> <i class="fa-solid fa-trash"></i> </span>
            </li>
    <% }) %>
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

<% include('partials/footer.ejs') %>
