<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
        <li class="todoItem" data-id='<%=el._id%>'>
            <span class="<%=el.completed === true ? 'completed' : 'not'%>"><%= el.todo %></span>
            <span class="fa fa-star <%=el.important === true ? 'important' : '' %>"> </span>
                <span class='fa fa-trash'> </span>
                
                <!-- <span class='date'> Created at: <%= el.createdAt %> </span> -->
                <span class='date'> Created at: <%= el.date %> </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>