<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold">Todos</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-5 justify-content-sm-center">
            
            <ul>
                <% todos.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                            <span class='del'> Delete </span>
                        </li>
                <% }) %>    
            </ul>
            
            <h2><%= user.userName %> has <%= left %> things left to do.</h2>
        
            <form action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                <input type="submit">
            </form>
        
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/logout">Logout</a>

          </div>
        </div>
      </div>

    <script src="js/main.js"></script>
</body>
</html>