<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Team SuperAwesome Todolist</title>
    
</head>
<body class="grey darken-3">
    <header>
        <a href="/logout" class="btn purple darken-2">Logout</a>
        <br>
      <div class="container">
        <div class="row">
          <div class="col s12 m6 offset-m3 ">
            <a href="/"><img class="responsive-image" src="/images/mainLogo.svg" alt="TodoList logo"></a>
          </div>
        </div>
      </div>
    </header>

    <main class="container">
        <h3 class="text-white center"><%= user.userName %> has <%= left %> thing<%= left === 1 ? '' : 's'%> left to do</h3>

        <div class="row">
            <div class="col s12 m3">
                      <div class="card white darken-1">
                        <div class="card-content black-text">
                              <form action="/todos/createTodo" method="POST">
                                  <div class="row">
                                  <div class="input-field">
                                      <label for="text">Task:</label>
                                      <input type="text" id="text" placeholder="Enter Todo Item" name='todoItem'>
                                  </div>
                                  </div>
                                  <div class="row">
                                  <div class="input-field">
                                      <label>Deadline:</label>
                                      <input type="date" id="deadline" name="deadline" placeholder="">
                                  </div>
                                  </div>
                                  <input class='btn red' type="submit">
                              </form>
                      </div>
                  </div>
            </div>
            <div class="col s12 m9">

            <ul class="collection">
            <% todos.forEach( el => { %>
                <li class='todoItem collection-item'>
                    <div class='row'>
                        <div class='col s4 todoName <%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></div>
                        <div class='col s3 todoDate <%= el.completed === true ? 'completed' : 'not'%>'><%= !el.deadline ? 'No Deadline Set' : moment(el.deadline).format('YYYY-MM-DD') %></div>
                        <div class='col s2 compIncomp btn red' data-id='<%=el._id%>'><i class="material-icons">check</i> </div>
                        <div class='col s2 del btn red' data-id='<%=el._id%>'><i class="material-icons">delete</i> </div>
                    </div>
                </li>
            <% }) %>    
            </ul>
 
            </div>
        </div>
    
    </main>
    
    <footer class="page-footer green darken-3">   
        <div class="footer-copyright green darken-3">
            <div class="container center-align">
            <span>&#169; Made by jennaly, kbventures, geordzNZ, VicChai, Hygmod & sconnycodes </span>
            </div>
        </div>
    </footer>
    
    
    
    <script type="text/javascript" src="js/materialize.min.js"> </script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>