<%- include('./partials/header') -%>
    <h1 class="text-center">Todos</h1>
    <a href="/logout">Logout</a>
    <h2><%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
    <section class="list mx-auto shadow my-2 p-2">
        <h2>DO IT NOW!!!</h2>
        <ul class="list-group list-group-flush">
        <% todos.forEach( el => { %>
            <% if(!el.procrastinated) { %>
                <li class='todoItem list-group-item d-flex justify-content-between' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed text-success' : 'not text-danger'%>'><%= el.todo %></span>
                    <div class="btns">
                        <span class='del'><i class="fas fa-trash"></i></span>
                        <span class="procrastinate">🥱</span>
                    </div>
                </li>
            <% } %>
        <% }) %>    
        </ul>
    </section>
    <section class="list mx-auto shadow my-5 p-2">
        <h2>Eh maybe later...</h2>
        <ul class="list-group list-group-flush">
            <% todos.forEach( el => { %>
                <% if(el.procrastinated) { %>
                    <li class='todoItem list-group-item d-flex justify-content-between' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed text-success' : 'not text-danger'%>'><%= el.todo %></span>
                        <div class="btns">
                            <span class='del'><i class="fas fa-trash"></i></span>
                            <span class="unprocrastinate">👀</span>
                        </div>
                    </li>
                <% } %>
            <% }) %>    
            </ul>
    </section>
    <script src="js/main.js"></script>
<%- include('./partials/footer') -%>
