<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= moment(el.deadline).format('YYYY-MM-DD') %></span>
                
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>

        <label for="text">Task:</label>
        <input type="text" id="text" placeholder="Enter Todo Item" name='todoItem'>

        <label for="deadline">Deadline:</label>
        <input type="date" id="deadline" name="deadline">

        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    
    <script type="text/javascript" src="js/materialize.min.js"> </script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>