<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Company Name" name='companyName'>
        <input type="date" placeholder="Date Added" name = "dateAdded">
        <input type="text" placeholder="Url" name = "url">
        <input type="text" placeholder="Role URL" name = "roleURL">
        <input type="text" placeholder="Position" name = "posiiton">
        <input type="text" placeholder="Source" name = "source">
        <h2>Point of Contact</h2>
        <input type="text" placeholder="Name of Contact" name = "pocName">
        <input type="text" placeholder="Position of Contact" name = "pocPosition">
        <input type="text" placeholder="Email of Contact" name = "pocEmail">
        <h2>Application</h2>
        <label name = "Applied?">Applied?</label>
        <input type="checkbox" placeholder="Applied?" name = "applied">
        <input type="date" placeholder="Date you applied" name = "applyDate">
        <label name = "CoffeeChat">Coffee Chat?</label>
        <input type="checkbox" name = "coffeeChat">
        <input type="date" name = "coffeeChatDate">
        <label name = "saidThanks">Said Thanks?</label>
        <input type="checkbox" name = "saidThanks">
        <label name = "interviewDate">Interview Date?</label>
        <input type="date" name = "interviewDate">
        <label name = "followUpDate">Interview Date?</label>
        <input type="date" name = "followUpDate">
        <input type="text" placeholder="Comments" name = "comment">




        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>