<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="calendar">

        <div class="col leftCol">
            <div class="content">
                <h1 class="date">Friday</h1>
                <div class="monthAndDay">
                    <!-- i guess you can add variables to ejs so _month is "Sat Sep 03 2022 09:29:18 GMT-0700 (Pacific Daylight Time)" and we get Sep -->
                    <!-- same with _day -->
                    <!-- just used to get the current day and month for the calendar -->
                    <%  var _month = Date(Date.now()).split(" ")[1].toLowerCase() %>
                    <%  var _day = Date(Date.now()).split(" ")[2].split("").map(x => +x).filter(x => x !== 0) %>
                    <span class="month"><%= _month %></span>
                        <span class="day"><%= _day %></span>
                </div>
                <div class="notes">
                   <!-- are they able to add to the list? -->
                    <form action="/todos/createTodo" method="POST">
                        <input type="text" name="task" placeholder="new task"/>
                        <input type="time" name="startTime"/>
                        <input type="time" name="endTime"/>
                        <!-- these hidden input contain the day and month data that will get stored in the database so we can filter the tasks by month and day -->
                        <!-- these input values changed based on month and day that are selected -->
                        <input type="hidden" name="day" class="dbDay" value="<%= _day %>"  />
                        <input type="hidden" name="month" class="dbMonth" value="<%= _month %>"  />
                        <button type="submit" href="#" title="Add note" class="addNote animate">+</button>
                    </form>
                    
                    <!-- add todo list functionaliliy -->
                    <!-- <ul class="noteList">
                        <li>Headbutt a lion<a href="#" title="Remove note" class="removeNote animate">x</a></li>
                    </ul> -->
                    <!-- <ul>
                         <% todos.map( el => { %>
                                <li class='todoItem' data-id='<%=el._id%>'>
                                    <span class="filteredTasks"><%= el.task %></span>
                                    <a href="#" title="Remove note" class="removeNote animate del">x</a>
                                    <span style="display: block"><%= el.startTime %> - <%=el.endTime %></span>
                                </li>
                        <% }) %>     
                        </ul> -->
                        <!-- container that holds the fetched tasks -->
                        <ul class="taskContainer">

                        </ul>
                </div>
            </div>
        </div>

        <div class="col rightCol">
            <div class="content">
                <h2 class="year">2022</h2>
                <ul class="months" id="months">
                    <li><a href="#" title="jan" data-value="1">Jan</a></li>
                    <li><a href="#" title="feb" data-value="2">Feb</a></li>
                    <li><a href="#" title="mar" data-value="3">Mar</a></li>
                    <li><a href="#" title="apr" data-value="4">Apr</a></li>
                    <li><a href="#" title="may" data-value="5">May</a></li>
                    <li><a href="#" title="jun" data-value="6">Jun</a></li>
                    <li><a href="#" title="jul" data-value="7">Jul</a></li>
                    <li><a href="#" title="aug" data-value="8">Aug</a></li>
                    <li><a href="#" title="sep" data-value="9">Sep</a></li>
                    <li><a href="#" title="oct" data-value="10">Oct</a></li>
                    <li><a href="#" title="nov" data-value="11">Nov</a></li>
                    <li><a href="#" title="dec" data-value="12">Dec</a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="weekday">
                    <li><a href="#" title="Mon" data-value="1">Mon</a></li>
                    <li><a href="#" title="Tue" data-value="2">Tue</a></li>
                    <li><a href="#" title="Wed" data-value="3">Wed</a></li>
                    <li><a href="#" title="Thu" data-value="4">Thu</a></li>
                    <li><a href="#" title="Fri" data-value="5">Fri</a></li>
                    <li><a href="#" title="Say" data-value="6">Sat</a></li>
                    <li><a href="#" title="Sun" data-value="7">Sun</a></li>
                </ul>
                <div class="clearfix"></div>
                
                <!--calendar functionality -->
                <ul class="days" id="days">
                    <% for(let i = 0; i<= 31; i++) {%>
                      <%  var _addClass = '' %>
                      <% if(i === +Date(Date.now()).split(" ")[2]){_addClass = "selected"} %>
                      <li class="day"><a href="#" title=<%= i %> data-value=<%= i %> class=<%= _addClass %>> <%= i %></a></li>
                      <% } %>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <script src="js/main.js"></script>
</body>
</html>