<%- include('partials/head.ejs', {title:"Todos"}) %>
<% const priorityColors=['#cccccc', '#3b9614' , '#c9c938' , '#8a1207' ] ; %>
    <h1>Todos</h1>
    <ul>
    <% incomplete.forEach( el=> { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class="not">
                    <%= el.todo %>
                </span>
                <!-- this is showing an error in my linter but the code actually renders properly -->
                <span class='priority'> <i class="fa-solid fa-flag" style='color:<%=priorityColors[el.priority] %>'></i> </span>
                <span class='del'> <i class="fa-solid fa-trash"></i> </span>
            </li>
    <% }) %>
    </ul>

    <h2>
        <%= user.userName %> has <%= incomplete.length %>
                <%= incomplete.length===1 ? "thing" : "things" %> left to do.
    </h2>

    <h1>Completed</h1>
    
    <% complete.forEach( el=> { %>
        <li class='todoItem' data-id='<%=el._id%>'>
            <span class="completed">
                <%= el.todo %>
            </span>
        </li>
        <% }) %>
            <h2>
                <%= user.userName %> has completed <%= complete.length %>
                        <%= complete.length===1 ? "thing" : "things" %>.
            </h2>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

<%- include('partials/footer.ejs') %>
