<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body class="todos-container">
    <h1 class="todo-title">Todos</h1>
    <div class="todos-lists-container">

        
            <section class="added-todos">
                <h2 >Not started</h2>
                <ul class="todo-container">
                    <% todos.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span class="todoItem-todo"><%= el.todo %></span>

                                <div class="todoItem-btns">
                                   <span class="workingOn">In progress</span>
                                     <span class="archive">Archive</span>  
                                     <!-- Maye added start -->
                                    <span class='del'> Delete </span>
                                </div>
                                <!-- Maye added end -->
                               
                                <!-- <span class='del'> Delete </span> -->
                            </li>
                    <% }) %>    
                    </ul>
            </section>

            <section class="working-on">
                <h2>In progess</h2>
                <ul class="todo-container">
                    <% workingOn.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span  class="todoItem-todo"><%= el.todo %></span>
                                
                                <div class="todoItem-btn">
                                    <span class="completed done">Completed</span>

                                     <span class='del'> Delete </span>
                                </div>
                               
                            </li>
                    <% }) %>    
                    </ul>
            </section>


            <section class="completed">
                <h2>Completed</h2>
                <ul class="todo--container">
                    <% completed.forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <span  class="todoItem-todo"><%= el.todo %></span>
                                <div class="todoItem-btns">

                                    <span class="incomplete"> In progress</span>
                                    <!-- <span class='del'> Delete </span> -->
                                    <span class="archive">Archive</span>  
                                    </div>
                                
                            </li>
                    <% }) %>    
                    </ul>
            </section>
        


    </div>
   

    <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->


    <button type="button" class='add-todo-open-btn'>Add Todo</button>  
  


    <div class="add-todo--container hidden">

    
        <div class="add-todo--inner-container ">

            <h3 class="add-todo--title">Add todo</h3>
            <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem' class="add-todo--text">
            <input type="submit" class="submit-todo">
            </form>  
        </div>
  
    </div>
    
    
    <a href="/archive">archied todos</a>
    <a href="/logout" class="out">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>