<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>LISTIFY | DASHBOARD</title>
  </head>
  <body class="background-img dashboard-screen">
    <section class="todosmain todos-container container card d-flex pt-3">
      <div class="todos-header d-flex flex-row justify-content-evenly">
        <div class="left"><%- include('./partials/logo'); %></div>
        <div class="right">
          <h4>Welcome <%= user.userName %>!</h4>
          <h6>
            You have <%= left %> thing<%= left == 1 ? '' : 's'%> left to do.
          </h6>
          <a
            class="btn btn-primary btn-sm"
            href="/logout"
            >Logout</a
          >
        </div>
      </div>
      <div
        class="container-fluid todos-body d-flex justify-content-around mt-3"
      >
        <!--Edit: Tal. Added organizational sections to the Todos page.-->
        <section class="createTodosSection">
          <h3>Create Your Todos!</h3>
          <form
            action="/todos/createTodo"
            method="POST"
          >
            <input
              type="text"
              placeholder="Create a todo item"
              name="todoItem"
              class="form-control mb-1"
            />
            <!-- joe added importance -->
            <label for="importance">Importance:</label>
            <select
              name="importance"
              id="importance"
              class="form-select form-select-sm"
            >
              <option value="high">High</option>
              <option value="medium">Medium</option>
              <option value="low">Low</option>
            </select>
            <input
              class="btn btn-primary mt-2"
              type="submit"
            />
          </form>
        </section>
        <section class="taskListSection todosSection">
          <h2>Todo List</h2>
          <!-- joe -->
          <a
            href="todos?sortBy=importance&direction=<%= query.direction === 'asc'?'desc':'asc'%>"
            class="btn btn-outline-primary btn-sm"
            >Sort By Importance</a
          >
          <ul class="taskList">
            <!--Edit-Tal. Foreach variables passed in at controller render method.-->
            <!--Edit-Tal. Added if statement in EJS to populate ul with only items which have a completed property of false.-->
            <% todos.forEach( el => { %> <% if(el.completed === false) {%>
            <li
              class="todoItem"
              data-id="<%=el._id%>"
            >
              <span class="not"><%= el.todo %></span>
              <span class="del">Delete</span>
            </li>
            <% } %> <% }) %>
          </ul>
        </section>
        <!--Edit: Tal. Added new section for Todos history. copy/pasted from Leon's UL above. Included an if statement in the EJS to populate with only completed items-->
        <section class="todosHistory todosSection">
          <form class="historyForm">
            <input
              type="button"
              name="show history"
              value="Hide History"
              class="showButton btn btn-outline-primary btn-sm"
            />
          </form>
          <ul
            class="historyList"
            disabled
          >
            <% todos.forEach( el => { %> <%if(el.completed == true) { %>
            <li
              class="todoItem"
              data-id="<%=el._id%>"
            >
              <span class="completed"><%= el.todo %></span>
              <span class="del"> Delete </span>
            </li>
            <% }%> <% }) %>
          </ul>
        </section>
      </div>
    </section>

    <script src="js/main.js"></script>
  </body>
</html>
