<%- include('./partials/header') -%>
    <h1 class="text-center">Todos</h1>
    <a href="/logout" class="position-fixed top-0 start-0 p-2">Logout</a>
    <h2 class="position-fixed top-0 end-0 p-2"><%= left %> LEFT</h2>
    <section class="list mx-auto shadow my-5 p-2 rounded-2">
        <h2>DO IT NOW!!!</h2>
        <ul class="list-group list-group-flush">
        <% todos.forEach( el => { %>
            <% if(!el.procrastinated) { %>
                <li class='todoItem list-group-item d-flex justify-content-between' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed text-success' : 'not text-danger'%>'><%= el.todo %></span>
                    <div class="btns">
                        <span class='del'><i class="fas fa-trash"></i></span>
                        <span class="procrastinate">🥱</span>
                    </div>
                </li>
            <% } %>
        <% }) %>    
        </ul>
    </section>
    <section class="list mx-auto shadow my-5 p-2 rounded-2">
        <h2>Eh maybe later...</h2>
        <ul class="list-group list-group-flush">
            <% todos.forEach( el => { %>
                <% if(el.procrastinated) { %>
                    <li class='todoItem list-group-item d-flex justify-content-between' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed text-success' : 'not text-danger'%>'><%= el.todo %></span>
                        <div class="btns">
                            <span class='del'><i class="fas fa-trash"></i></span>
                            <span class="unprocrastinate">👀</span>
                        </div>
                    </li>
                <% } %>
            <% }) %>    
            </ul>
    </section>
    <form action="/todos/createTodo" method='POST' class="mx-auto d-flex gap-2">
        <div class="input-group">
            <input type="text" placeholder="Enter Todo Item" name='todoItem' class="rounded-2 form-control w-75">
        </div>
        <button class="btn btn-dark">Submit!</button>
    </form>
    <script src="js/main.js"></script>
<%- include('./partials/footer') -%>
