<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>LISTIFY | DASHBOARD</title>
  </head>
  <body class="background-img dashboard-screen">
    <section class="todosmain todos-container container">

      <!--Edit: Tal. Added organizational sections to the Todos page.-->
      <section class = "createTodosSection">
        <h2>Create Your Todos!</h2>
        <form
          action="/todos/createTodo"
          method="POST" 
        >
          <input
            type="text"
            placeholder="Create a todo item"
            name="todoItem"
          />
          <!-- joe added importance -->
          <label>Importance:</label>
          <select name="importance" id="importance">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
          <input type="submit" />
        </form>
      </section>
      <section class = "taskListSection todosSection">
        <h2>Todo List</h2>
        <!-- joe -->
        <button><a href="todos?sortBy=importance&direction=<%= query.direction === 'asc'?'desc':'asc'%>">Sort By Importance</a></button>
        <ul class = "taskList">
          <!--Edit-Tal. Foreach variables passed in at controller render method.-->
          <!--Edit-Tal. Added if statement in EJS to populate ul with only items which have a completed property of false.-->
          <% todos.forEach( el => { %> <% if(el.completed === false) {%>
          <li
            class="todoItem"
            data-id="<%=el._id%>"
          >
            <span class="not"><%= el.todo %></span>
            <span class="del">Delete</span>
          </li>
          <% } %> <% }) %>
        </ul>
        <h2><%= user.userName %> has <%= left %> things left to do.</h2>
      </section>
      <!--Edit: Tal. Added new section for Todos history. copy/pasted from Leon's UL above. Included an if statement in the EJS to populate with only completed items-->
      <section class="todosHistory todosSection">
        <form class="historyForm">
          <input
            type="button"
            name="show history"
            value="Hide History"
            class="showButton"
          />
        </form>
        <ul
          class="historyList"
          disabled
        >
          <% todos.forEach( el => { %> 
            <%if(el.completed == true) { %>
              <li
                class="todoItem"
                data-id="<%=el._id%>"
              >
                <span class="completed"><%= el.todo %></span>
                <span class="del"> Delete </span>
              </li>
            <% }%> 
          <% }) %>
        </ul>
      </section>
      <section class = "logoutSection todosSection">
        <a class="btn btn-primary btn-lg" href="/logout">Logout</a>
      </section>
    </section>

    <script src="js/main.js"></script>
  </body>
</html>
