<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap"
        rel="stylesheet">
    <title>Christmas Shopping List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/todos.css">
    <link rel="stylesheet" href="css/countdown.css">
</head>

<body class="list">
    <!-- Needed to Make it Snow -->
    <div class="snowflakes" aria-hidden="true">

        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">

        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
    </div>

    <section class="main-todos">

        <header>
            <div class="countdown">
                <h2 class="countdown-label">Christmas Countdown! Commence festivities in ...</h2>
                <section class="deadline">
                    <!--days -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>days</p>
                    </span>
                    <!--hours -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>hours</p>
                    </span>
                    <!-- minutes -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>minutes</p>
                    </span>
                    <!-- seconds -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>seconds</p>
                    </span>
                </section>
                </div>
        </header>
        <section class="create-list">
            <h1>Gift List</h1>
            <h2 class="gift-list-name">
                <%= todos.listName %>
            </h2>
            <section class="dropdown">
                <label for="list-type">Choose a type of gift list</label>
                <select name="list-type" id="list-type">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    <option value="Wishlist">Wishlist</option>
                </select>
            </section>

        </section>
    </header>
    <section class="create-list">
    <h1>Gift List</h1>
    <h2 class="gift-list-name"><%= todos.listName %></h2>
    <section class="dropdown">
        <label for="list-type">Choose a type of gift list</label>
        <select class="input-field" name="list-type" id="list-type">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="Wishlist">Wishlist</option>
        </select>
    </section>

    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class="giftFor"><%= el.giftFor %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>
    <button class="reverse-sort button">Sort in Reverse</button>
    <h2><%= user.userName %> has <%= left %> things on this christmas list</h2>

    <form action="/todos/createTodo" method='POST'>
        <div class="new-items">
            <input class="input-field" type="text" placeholder="Enter Who the Gift is For" name='giftFor'>
            <input class="input-field" type="text" placeholder="Enter Christmas Gift" name='todoItem'>
        </div>
        <input class="button" type="submit">
        <label for="list-type">Choose a type of gift list</label>
        <!--Not sure if we want to include this option every time a user inputs the new item-->
        <select class="input-field" name="list-type" id="list-type">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="Wishlist">Wishlist</option>
        </select>
    </form>
    </section>

        <a href="/logout">Logout</a>

    </section>

    <script src="js/main.js"></script>
    <script src="js/sort.js"></script>
    <script src="js/countdown.js"></script>
</body>

</html>