<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap"
        rel="stylesheet">
    <title>Christmas Shopping List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/todos.css">
    <link rel="stylesheet" href="css/countdown.css">
</head>

<body class="list">
    <!-- Needed to Make it Snow -->
    <div class="snowflakes" aria-hidden="true">

        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">

        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❄
        </div>
    </div>

    <section class="main-todos">

        <header>
            <div class="countdown">
                <h2 class="countdown-label">Christmas Countdown! Commence festivities in ...</h2>
                <section class="deadline">
                    <!--days -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>days</p>
                    </span>
                    <!--hours -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>hours</p>
                    </span>
                    <!-- minutes -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>minutes</p>
                    </span>
                    <!-- seconds -->
                    <span class="deadline-format">
                        <span class="time">00</span>
                        <p>seconds</p>
                    </span>
                </section>
                </div>
        </header>
        <section class="create-list">
            <h1>Gift List</h1>
            <h2 class="gift-list-name">
                <%= todos.listName %>
            </h2>
            

            <ul class="sortArr flex">
                <% todos.forEach( (el, i)=> { %>
                    <li class='todoItem' data-id='<%=el._id%>' data-name="<%= i%>">
                        <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                        <span class="giftFor">
                            <%= el.giftFor %>
                        </span>
                        <span class='del'> Delete </span>
                    </li>
                    <% }) %>
            </ul>
            <label for="reverse-switch" class="switch-label">Sort in Reverse</label>
            <label class="switch" name="reverse-switch">
                <input type="checkbox" class="reverse-sort">
                <span class="slider round"></span>
            </label>
            <!-- <button class="reverse-sort">Sort in Reverse</button> -->
            <h2>
                <%= user.userName %> has <%= left %> things on this christmas list
            </h2>

            <form action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter Christmas Gift" name='todoItem'>
                <input type="text" placeholder="Enter Who the Gift is For" name='giftFor'>
                <input type="submit">
                
                
            </form>
        </section>

        <a href="/logout">Logout</a>

    </section>

    <script src="js/main.js"></script>
    <script src="js/sort.js"></script>
    <script src="js/countdown.js"></script>
</body>

</html>