<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class = "todosmain">
        <h1>Todos</h1>
        <ul>
            <!--Edit-Tal. Foreach variables passed in at controller render method.-->
            <!--Edit-Tal. Added if statement in EJS to populate ul with only items which have a completed property of false.-->
            <% todos.forEach( el => { %>
                <% if(el.completed == false) {%>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='del'> Delete </span>
                    </li>
                <% } %>
            <% }) %>    
        </ul>
     
        <h2><%= user.userName %> has <%= left %> things left to do.</h2>
     
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
        <a href="/logout">Logout</a>
    </section>

    <!--Edit: Tal. Added new section for Todos history. copy/pasted from Leon's UL above. Included an if statement in the EJS to populate with only completed items-->
    <section class = "todoshistory">
        <form class = "historyForm">
            <input type="button" name = "show history" value = "Hide History" class = "showButton">
        </form>
        <ul class = "historyList" disabled>
            <% todos.forEach( el => { %>
                <%if(el.completed == true) {%>
                    <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                            <span class='del'> Delete </span>
                    </li>
                <% }%>
        <% }) %>  
        </ul>
    </section>
    <script src="js/main.js"></script>
</body>
</html>