<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Homework Bound To Dos Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="index.html">Homework Bound</a></h1>

					<!-- Banner -->
						<section id="banner">

							<header>
								<!-- injection -->
								<h1>Todos</h1>
								<ul>
								<% todos.forEach( el => { %>
										<li class='todoItem' data-id='<%=el._id%>'>
											<span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
											<span><%= el.dueDate.toDateString() %></span>
											<span class='del'> Delete </span>
										</li>
								<% }) %>    
								</ul>
							
								<h2><%= user.userName %> has <%= left %> things left to do.</h2>
							
								<form action="/todos/createTodo" method='POST'>
									<input type="text" placeholder="Enter Todo Item" name='todoItem'>
									<input type="date" name='todoDueDate'>
									<input type="submit">
								</form>
							
								<a href="/logout">Logout</a>
							
								<script src="js/main.js"></script>
								<!-- injection  -->
								<h2>Howdy. This is Dopetrope.</h2>
								<p>A responsive template by HTML5 UP</p>
							</header>
						</section>
				</section>

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
                                            <li>&copy; 
                                                <a href="https://github.com/JulienMellon">Julien Mellon</a>,
                                                <a href="https://github.com/jaclynbrothers">Jaclyn Brothers</a>,
                                                <a href="https://github.com/gaildev10">Gail Giles</a>,
                                                <a href="https://github.com/mathung">Matt Hung</a>,
                                                <a href="https://github.com/ztlaw">Walt Lungan</a>,
                                                <a href="https://github.com/phuphaju">Nischaya Khatiwada</a>, & 
                                                <a href="https://github.com/neffcodes">James Neff</a>. All rights reserved. 
                                                Template Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>