<!DOCTYPE html>
<html lang="en">
   <%- include('partials/head') %>
<body>
   <%- include('partials/nav') %>
    <br>

   <div class="row container">

     <h5 class="center">Vote on your trip plans here</h5>
     <section class="rating">
        <span class="inline like grow left">
         <form action="/trips/<%=trip.id%>" method="POST" id="upvote">
            <input type="hidden" name="_method" value="PUT">
          <button class="btn" method="PUT" id="green" type="submit">
             <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
          </button>
          <%=trip.upVotes == 0 ? trip.upVotes : `+${trip.upVotes}`%>
         </form>
        </span>
        <span class="dislike grow right">
         <form action="/trips/downvote/<%=trip.id%>" method="POST" id="upvote">
            <input type="hidden" name="_method" value="PUT">
          <button class="btn red" method="PUT" id="green" type="submit">
             <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
          </button>
         <%=-Math.abs(trip.downVotes)%>
         </form>
        </span>
     </section>

     <h2 class="center"><%=trip.tripTitle%></h2>


      <div class="">
        <div class="card-panel">
             <button>
               <%- editIcon(user._id, trip.userId, trip._id) %>
            </button>
            <ul>
               
               <section>
                  <h4>Travel Group</h4>
                  <p>Host: <%=trip.tripHost%></p>
                  <p>Members: <%=trip.tripMembers%></p>
               </section>

             <div class="rating">
               <li>
                  Plan1: <%=trip.option1%>
                  <details>
                     Information on plans
                  </details>
               </li>
               <br>
               <br>
               <li>Plan2: <%=trip.option2%>
                  <details>
                     Information on plans
                  </details>
               </li>
               <br>
               <br>
               <li>Plan3: <%=trip.option3%>
                  <details>
                     Information on plans
                  </details>
               </li>
               <br>
               <br>
               <li>From: <%=trip.dateFrom%></li>
               <li>To: <%=trip.dateTo%></li>
               <br>
               <br>
               <!-- POST form utilizing method override for DELETE request -->
               <form action="/trips/<%=trip.id%>" method="POST" id="delete-from">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class="btn btn-small red">
                     <i class="fas fa-trash trip-delete"></i>
                  </button>
               </form>
               <p>Delete your trip</p>
          </ul>
        </div>
      </div>
    </div>

    <script src="js/main.js"></script>

    <!-- Compiled and minified JavaScript -->
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
