<div class="form-group shadow-textarea mb-4">
    <label for="description"><%= label %></label>
    <textarea class="form-control z-depth-1" id="<%= name %>" name="<%= name %>" rows="3" placeholder="<%= placeholder %>">
        <%= value ? value : "" %>
    </textarea>
</div>
